.vscode/**
.vscode-test/**
src/**
**/*.ts
**/*.map
.gitignore
tsconfig.json
*.vsix
node_modules/**
eslint.config.mjs
CLAUDE.md
package-lock.json
.DS_Store
**/*.test.ts
out/test/**
vitest.config.ts
vitest.config.js
.vscode-test.mjs
.prettierrc.json
images/icon.svg
